@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body.dark-mode {
        background-color: #121212 !important;
        color: white !important;
    }
    body.dark-mode .card {
        background-color: #1e1e1e;
        color: white;
    }
    body.dark-mode .navbar,
    body.dark-mode .dropdown-menu {
        background-color: #1a1a1a !important;
    }
    body.dark-mode .dropdown-item {
        color: white !important;
    }